<div class="card">
    <div class="card-header">
        Invite user
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Send mail</button>
        </form>
    </div>
</div>
