<div class="card">
    <div class="card-header">
        Invite user
    </div>
    <div class="card-body">
        <form [formGroup]="inviteForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter username">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <button [disabled]="!inviteForm.valid" type="submit" class="btn btn-primary" (click)="sendEmail()">Send mail</button>
        </form>
    </div>
</div>
