<div class="card">
    <div class="card-header">
        Invite user
        <br/><a class="btn btn-secondary" [routerLink]="'list'">View Invited user list</a>
    </div>
    <div class="card-body">
        <form [formGroup]="inviteForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter username">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                <label for="roles">Roles</label>
                <select formControlName="role" class="form-select w-100 p-2" id="roles" aria-label="Default select example">
                    <option value="" selected disabled>Select role</option>
                    <option *ngFor="let role of roleList" [value]="role.name" >{{role.name}}</option>
                </select>
            </div>
            <input type="reset" class="btn btn-danger" value="Reset">
            <button [disabled]="!inviteForm.valid" type="submit" class="btn btn-primary mx-2" (click)="sendEmail()">Send mail</button>
        </form>
    </div>
</div>
