input[type="text"]{
    border: 0;
    border-bottom: 1px solid #7F5283;
}

input[type="text"]:focus{
    outline: none;
    border-bottom: 2px solid #7F5283;
}

.form-title{
    font-size: 300% !important;
}

.card{
    background-color: #E4DCCF;
}