<div class="container">
    <div class="row">
        <div *ngFor="let table of tableList" class="col-lg-6">
            <div class="card mt-2">
                <div class="card-header">
                    {{table.title}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{table.description}}</p>
                </div>
                <div class="card-footer d-flex">
                    <a [routerLink]="['/view-form', table.id]" class="btn btn-primary">View</a>
                    <button class="mx-2 btn btn-danger" (click)="DeleteForm(table)">Delete</button>
                    <button class="btn btn-success" (click)="ShareForm(table)">Share</button>
                    <button class=" mx-2 btn btn-secondary" (click)="ViewResponse(table)">View Responses</button>
                </div>
            </div>
        </div>
    </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{sharedFormModalTitle}}</h3>
  </ng-template>

  <ng-template #abpBody>
  <p>{{sharedFormModalLink}}</p>
  </ng-template>

  <ng-template #abpFooter>
    <!-- <button [disabled]="disableCopyBtn" type="button" class="btn btn-primary" (click)="copyClipboard()"><i class="fa-solid fa-copy"></i></button> -->
    <button [disabled]="disableCopyBtn" type="button" class="btn btn-primary" (click)="copyClipboard()">{{copyClipboardBtnMsg}}</button>
    <button type="button" class="btn btn-secondary" abpClose>Close</button>
  </ng-template>
</abp-modal>
