<div class="card">
    <div class="card-header"><h1>{{formTitle}}</h1></div>
    <div class="card-body">{{formDescription}}</div>
</div>

<div class="card mt-2" *ngIf="formFields.length > 0">
    <form [formGroup]="dynamicFields" (ngSubmit)="onSubmit()">
        <div class="card-body">
                <!-- Form fields are not rendered sequentially  -->
                <div *ngFor="let field of formFields">
                    <label for="{{field.labelName}}">
                        {{field.labelName}}
                        <span *ngIf="field.isRequired === true">*</span>
                    </label>
            
                    <input *ngIf="field.fieldType === '1'" type="text" class="w-100 p-2" [formControlName]="field.labelName"
                            [placeholder]="field.placeholder" [id]="field.labelName"><br>
                    
                    <textarea *ngIf="field.fieldType === '2'" [formControlName]="field.labelName" [id]="field.labelName" class="w-100 p-2"
                        cols="10" rows="5" [placeholder]="field.placeholder"></textarea>
                    
                    <select *ngIf="field.fieldType === '3'" [formControlName]="field.labelName" [id]="field.labelName" class="w-100 p-2">
                        <option *ngIf="field.placeholder.length > 0" value="" selected disabled>{{field.placeholder}}</option>
                        <option *ngFor="let opt of field.defaultValue.split(',')" [value]="opt">{{opt}}</option>
                    </select>
            
                </div>
        </div>
        <div class="card-footer">
            <input type="reset" class="btn btn-danger" value="Reset" (click)="resetForm()">
            <button [disabled]="!dynamicFields.valid" class=" mx-2 btn btn-primary">Save</button>
        </div>
    </form>
</div>

